# Ignore node_modules and build output in all subprojects
**/node_modules
**/dist
**/dist-ssr
**/.vite
**/.cache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
node_modules
